<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image.variant(resize: "100x100") if @photo.image.attached? %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
